################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/bin/
**/obj/
/SHS_Job_Integrate/.config
/SHS_Job_Integrate/logs
/SHS_Job_Integrate/Properties/PublishProfiles
